html, body, input, select, button, textarea, table {
	font-size: 100%;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
}

body {
	line-height: 1.5;
	color: black;
	background-color: #f8f8f8;
}

p {
	margin: 24px 0;
}

a {
	color: #199900;
}

a:hover, a:focus {
	color: #160;
}

hr {
	background: #ccc;
	color: #ccc;
	height: 1px;
	margin: 0 0 1.4em;
	border: none;
	clear: both;
}
/* headings */

h1 {
	margin: 1.25em 0 1.5em;
	text-align: center;
}

h1 a {
	display: block;
	margin: auto;
	padding: 0 2em;
	-webkit-transition: 0.8s all;
	-webkit-animation: leafanim 3s ease 3s 1 normal none;
	transition: 0.8s all;
	animation: leafanim 3s ease 3s 1 normal none;
}

h2 {
	font-weight: 400;
	font-size: 2em;
	font-weight: 300;
	color: black;
	margin-top: 1.6em;
	padding-top: .2em;
}

h2:first-child {
	margin-top: 1em;
}

h2:target {
	color: #1EB300;
}

h3 {
	margin-top: 1.5em;
	padding-top: .5em;
	color: black;
	font-weight: 500;
	font-size: 1.4em;
}

h3.tagline {
	font-weight: 200;
	font-size: 1.5em;
	margin-top: -2em;
	padding: 0;
	color: #333;
	text-align: center;
	margin-bottom: 30px;
}

h4 {
	font-size: 1.1em;
	font-weight: 500;
	margin: 1em 0 1em;
}
/* general layout */

.container {
	max-width: 54em;
	padding: 0 6em 1.5em;
	margin: 0 auto;
}
.container code, .container pre code {
	font-family: "Consolas", "Menlo", "Lucida Console", "Courier New", monospace;
	-webkit-font-smoothing: subpixel-antialiased;
}
.container pre code {
	font-size: 14px;
	padding: .75em 1em;
	border-radius: 5px;
	white-space: pre;
	overflow: auto;
}
.container pre {
	border-radius: 5px;
}

.container .map {
	border: 1px solid #ccc;
}
.container .map:focus {
	border-color: #999;
}

.nav {
	overflow: hidden;
	list-style: none;
	padding: 0 30px;
	text-align: center;
	font-size: 1.25em;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
}

.nav li {
	display: inline-block;
	padding: .333em .5em;
	color: #999;
}

.nav li a {
	font-weight: 400;
	text-decoration: none;
}