body {
  background: gainsboro;
  color: darkslategrey;
  font-family: "Arial", "Helvetica", sans-serif;
}

#menuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: darkslategrey;
  /* transition: color 0.3s ease; */
}

#menuToggle a:hover {
  color: black;
  font-weight: bold;
}

#menuToggle input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  /*
  left: -6px;
  */
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* 
 * make a hamburger 
 */
#menuToggle span {
  display: block;
  width: 30px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  left: 5px;
  
  background: darkslategrey;
  border-radius: 1px;
  z-index: 1;
  transform-origin: 4px 0px;
  /*
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
              */
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform slices of hamburger into crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(1px, 0px);
}

/*
 * Hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
}

/*
 * and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(1px, 1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: 240px;
  margin-top: -40px;
  margin-left: -10px;
  padding: 20px;
  padding-top: 50px;
  
  background: #EEE;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li {
  padding: 5px 0;
  font-size: 18px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}