html, body, input, select, button, textarea, table {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	color: #555;
}

h1,h2,h3,h4,h5 {
	font-weight: 400;
	color:#333;
}

body {
	line-height: 1.5;
	background-color: #f8f8f8;
}


a {
	color: #2A0;
	text-decoration: none;
}

a:hover, a:focus {
	color: #160;
}

li {
	margin-bottom: 1em;
}

hr {
	background: #ccc;
	color: #ccc;
	height: 1px;
	margin: 0 0 1.4em;
	border: none;
	clear: both;
}

details {
	margin-bottom: 0.5em;
}

details code {
	font-size: 1.2em;
}

details summary {
	font-size: 1.2em;
	background-color: gainsboro;
	padding: 0.2em 0.5em;
}

details li {
	list-style-type: none;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

/* site-specific */

.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

.tagline {
	display: block;
	font-weight: 200;
	font-size: 1.5em;
	padding: 0.5em;
	color: #333;
	text-align: center;
}

/* general layout */

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.right {
	float: right;
}

.container {
	max-width: 900px;
	padding: 0 0.5em 1.5em;
	margin: 0 auto;
}

.container .map {
	border: 1px solid #ccc;
}

.container .map:focus {
	border-color: #999;
}

.nav {
	list-style: none;
	text-align: center;
	margin: 0 auto;
	font-size: 1.2em;
	font-weight: 400;
	padding-bottom: 0.5em;
	border-bottom: 2px solid #ccc;
	padding-inline-start: 0;
}

.nav li {
	display: inline-block;
	padding: 0 0.5em;
	color: #555;
}

/* table using grid layout */

.table2 {
	display: grid;
	grid-template-columns: 1fr 85%;
}

.table2 > div {
	margin: 0 0 1em;
	padding: 0.5em;
}

.table2 > div:nth-child(4n+1){
	background:#e8e8ef;
}

.table2 > div:nth-child(4n+2){
	background:#e8e8ef;
}

.table2 > div:nth-child(4n+3){
	background:#e8efe8;
}

.table2 > div:nth-child(4n+4){
	background:#e8efe8;
}

@media only screen and (hover: none) {

	.logo {
		width: 0;
	}
	.tagline {
		visibility: hidden;
		font-size: 0;
		padding: 0;
	}

	.nav {
		font-size: 1em;
		padding-bottom: 0;
	}

	body {
		font-size: 0.8em;
	}

	h1, h2, h3 { 
		font-size: 1em;
	}

}